#root {
  height: 100vh;
}
body {
  height: 100%;
}

#cy {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#sideinfo {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  background-color: #f8f9fa;
  border: 1px solid black;
  overflow: auto;
  font-family: sans-serif;
}

#info-content {
  & h3 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

textarea {
  white-space: pre;
  overflow: auto;
}

#navigation-search {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  & input {
    width: fit-content;
    border: 2px solid black;
    border-radius: 3px;
  }
  & svg {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}

.border-horizontal {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.sideinfo-name {
  display: flex;
  background-color: #636363;
  color: #fff;
  justify-content: center;
  position: relative;
  & #close-info {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  & #streams {
    border: 2px solid black;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
  }
  & .nav-buttons {
    display: flex;
    gap: 10px;
    & div {
      width: 30px;
      height: 30px;
      background-color: #fff;
    }
  }
}

.stage-item {
  display: flex;
  align-items: center;
  gap: 5px;
  & .box {
    width: 15px;
    height: 15px;
  }
}

#info-content {
  & li {
    display: flex;
    justify-content: space-between;
  }
  & .name {
    display: flex;
    gap: 10px;
    font-size: 16px;
    line-height: 24px;

    & .icon {
      width: 20px;
      height: 20px;
    }
  }
  & .icons {
    display: flex;
    gap: 10px;
    & div {
      width: 20px;
      height: 20px;
    }
  }
}

#plan-button {
  cursor: pointer;
}

.sideinfo-section {
  padding: 12px;
}
